* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    background: #8eb7b8eb;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    top: 0;
}
img.logo {
    width: 60px;
    margin-left: 30px;
}
img.icon {
    width: 15px;
    margin: 10px;
}

.background-img {
    width: 100%;
    position: relative;
}

h1#heading1 {
    position: absolute;
    top: 20vw;
    font-size: 4vw;
    left: 15vw;
    color: white;
    border-bottom: 3px solid black;
}

h1#heading2 {
    padding: 10px;
}

h1#heading4 {
    text-align: center;
}

h4#explaination {
    font-size: medium;
    font-weight: 100;
}


ul.container {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
li.menus {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 300px;
    position: relative;
    margin-bottom: 30px;
}
.cards {
    background: #EBEBEB;
}
img.card-img {
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding: 50px;
    height: 200px;
}
.names {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    padding: 30px 0;
}

button.addtocart {
    padding: 10px 20px;
    background-color: #128f12;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
}
h1.Heading2 {
    width: 94%;
    margin: 20px auto;
}
img#footer-logo {
    width: 150px;
}
/************* Signup *****************/
section.sign_up {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
}
.sign {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    position: fixed;
    top: 30%;
    left: 20%;
}
#signup_p {
    color: grey;
    margin-bottom: 10px;
}
input#signupbar {
    padding: 10px 10px;
    border-radius: 25px;
    border: 1px solid grey;
    width: 80%;
    margin: 10px 0;
}
button.signup-button {
    width: 83%;
    padding: 10px 10px;
    font-size: 18px;
    background-color: blue;
    color: white;
    border: 0;
    border-radius: 25px;
}
a#alreadyamember {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
.header {
    position: inherit;
}
h1#heading1 {
    position: absolute;
    top: 34vw;
}
.store-logo {
    text-align: center;
}
.sign {

    width: 80%;
}
}
/***************************************
********************Cart
******************************************/
main {
    margin: 7rem 2rem;
}

main .heading {
    padding: 2rem 3rem;
}
main table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2rem 2rem;
}
main table th {
    text-align: left;
}
main table tr {
    text-align: left;
}
main table td button {
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    word-spacing: 5px;
}
main table td button span {
 padding: 5px;
}

main table tr .product {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
main .total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 9rem;
}
main .total .amount p {
    font-weight: bolder;
}
main .total .next-step {
    display: flex;
    gap: 2rem;
    align-items: center;
}
main .total .next-step button {
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 20px;
   border: 1px solid #000;
}
main .total .next-step button.next {
    background-color: blue;
    color: #fff;
    border: 0;
}

.thanks {
    text-align: center;
    margin-bottom: 30px;
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: solid;
    background-color: blue;
}
.thanks p {
    padding: 5rem 0rem;
    color: #fff;
}

.message p {
    text-align: center;
    font-weight: bolder;
}

button.backtohome {
    margin-top: 18px;
    background-color: blue;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    width: 190px;
    height: 50px;
    border: none;
}

button.submit {
    margin-top: 1%;
    margin-left: 15%;
    background-color: blue;
    font-weight: bold;
    color: white;
    border-radius: 50px;
    width: 220px;
    height: 50px;
    border: none;
}

h4#design {
    font-size: medium;
    font-weight: 100;
}


/**************************Order Page***********************/

.details {
    width: 100%;
    margin: 50px 0;
  }
  .details .product-details {
    width: 35%;
    margin: 0 auto;
    font-family: Poppins;
    margin-top: 7%;
    margin-left: 15%;
  }
  .details h3 {
    font-family: Poppins;
    color: black;
    font-weight: bolder;
    margin: 0;
  }
  .details h4 {
    font-family: Poppins;
    color: black;
    font-size: 20px;
    font-weight: normal;
    margin: 20px auto;
  }
  .details .box2 table {
    margin: 0;
    width: 100%;
    color: #000000;
    border-collapse: collapse;
  }
  .details .product-details .box2 tr {
    height: 2em;
  }
  .details .product-details .box2 .td-item {
    width: 60%;
  }
  .details .product-details .box2 .td-quantity {
    width: 10%;
  }
  .details .product-details .box2 .td-price {
    width: 10%;
  }
  .details .product-details .box2 .td-items {
    width: 60%;
  }
  .details .product-details .box2 .td-quantitys {
    width: 10;
  }
  .details .product-details .box2 .td-prices {
    width: 10;
  }

  .details .product-details .box2 .border {
    border-top: 2px solid black;
    font-weight: bold;
    color: #313636;
    white-space: nowrap;
}
.details .dispatch .form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0 35px;
    font-size: 1.2em;
    border: none;
    border-radius: 30px;
    background-color: white;
    border: 1px solid #cccccc;
}
.form {
    width: 45%;
    margin-top: 1%;
    margin-left: 14%;
}

label.supplie {
    font-weight: bolder;
}
  
  
