* {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    background: #8eb7b8eb;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
}
img.logo {
    width: 60px;
    margin-left: 30px;
}
img.icon {
    width: 15px;
    margin: 10px;
}

.background-img {
    width: 100%;
    position: relative;
}

h1#heading1 {
    position: absolute;
    top: 20vw;
    font-size: 4vw;
    left: 15vw;
    color: white;
    border-bottom: 3px solid black;
}

h1#heading2 {
    padding: 10px;
}

h1#heading4 {
    text-align: center;
}

h4#explaination {
    font-size: medium;
    font-weight: 100;
}


ul.container {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
li.menus {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 350px;
    position: relative;
    margin-bottom: 30px;
}
.cards {
    background: #EBEBEB;
}
img.card-img {
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding: 50px;
    height: 200px;
}
.names {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    padding: 30px 0;
}

button.addtocart {
    padding: 10px 20px;
    background-color: #128f12;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
}
h1.Heading2 {
    width: 94%;
    margin: 20px auto;
}
img#footer-logo {
    width: 150px;
}
/************* Signup *****************/
section.sign_up {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    position: fixed;
}
.sign {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 600px;
    height: 883px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}
#signup_p {
    color: grey;
    margin-bottom: 10px;
}
input#signupbar {
    padding: 10px 10px;
    border-radius: 25px;
    border: 1px solid grey;
    width: 80%;
    margin: 10px 0;
}
button.signup-button {
    width: 83%;
    padding: 10px 10px;
    font-size: 18px;
    background-color: blue;
    color: white;
    border: 0;
    border-radius: 25px;
}
a#alreadyamember {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
.header {
    position: inherit;
}
h1#heading1 {
    position: absolute;
    top: 34vw;
}
.store-logo {
    text-align: center;
}
.sign {

    width: 80%;
}
}